@font-face {
   font-family: 'PAPYRUS';
   font-display: swap;
   src: url('file:///C:/Users/Thad%20Thome/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-01-20_144242/fonts/PAPYRUS/font.TTF');
}
